<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>Little Hat!</title>
  
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/thickbox.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $.imagesToFade = $("#main-content img");
      $.imagesToFade.each(function(i,img) {$(img).hide()});
      $.fadeImagesInterval = setInterval("fadeImagesOnLoad()",500);
    });
   function fadeImagesOnLoad() {
     //Fade in loaded images
    for (i=0; i< $.imagesToFade.length; i++) {
      img = $.imagesToFade[i];
      if (img.complete) {
        $(img).fadeIn(Math.random() * 2000 + 600);
        $.imagesToFade.splice(i,1);
      }
    };
      
    //Cancel Interval when we're done
    if ($.imagesToFade.length == 0)
      clearInterval($.fadeImagesInterval);
    } 
  </script>
                              
  <link rel="stylesheet" href="stylesheets/thickbox.css" type="text/css" media="screen" />
</head>
<body>
  <div id="main-graphic">
    <img src="images/main-graphic.png" alt="Andrew Cholakian - Photography" />
  </div>

  <div id="main-content">
    <% i = 0 
     photo_row_open = 0 %>
       <% for photo in @photos %>
         <% if i % 4 == 0 %>
           <% photo_row_open = i %>
       <div class="photo-row">
           <% end %>
           <div class="photo-frame">
       <div class="photo-container">
               <a  title="" style="float:left;" class="thickbox" rel='gal'
                 href="<%= url_for_photo(photo,:large) %>">
                 <img src="<%= url_for_photo(photo, :index) %>" alt="<%= photo.filename %>" />
               </a> 
             </div>
           </div>
           <% i += 1 %>
           <% if i == photo_row_open + 4 or i == @photos.length %>
           </div>
         <% end %>
      <% end %>
  </div>
</body>
</html>
