body {
  margin:0px;
  padding:0px;
  font-family: "le-havre-rounded-1","le-havre-rounded-2", helvetica, arial, sans-serif;
  font-size:16px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

p {
  margin-top: 15px;
  font-family:  helvetica, arial, sans-serif;
  letter-spacing: 0.05em;
  font-size: 12px;
}

ul {
  font-family:  helvetica, arial, sans-serif;
  letter-spacing: 0.05em;
  font-size: 12px;
}

a {
  letter-spacing: 0.06em;
  font-family:  helvetica, arial, sans-serif;
  letter-spacing: 0.05em;
  color:black;
  font-size: 12px;
  font-weight: 700;
}

a:hover {
  text-decoration:none;
}

a#next-photo, a#prev-photo {
  font-size: 16px;
  font-family: "le-havre-rounded-1","le-havre-rounded-2", helvetica, arial, sans-serif;
  text-decoration:none;
}

#photo-meta {
  font-size: 16px;
  font-family: "le-havre-rounded-1","le-havre-rounded-2", helvetica, arial, sans-serif;
}

a#next-photo:hover, a#prev-photo:hover {
  text-decoration: underline;
}

img {
  border:none;
}

h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
  margin:0px;
  padding-bottom: 15px;
}

#main-graphic {
  position:absolute;
  top:0px;
  left:0px;
  padding: 0px;
  margin:0px;
  text-align:right;
}

#photo-thumbs {
  position:absolute;
  left:365px;
  top:70px;
}
.photo-view #photo-thumbs {
  border-right: 1px solid silver;
  margin-right:25px;
}

.photo-row {
  clear:left;
}

.photo-frame {
  float:left;
}

.photo-container a {
  float:left;
}

.photo-frame a {
  width:45px;
  height:30px;
  margin-right:25px;
  margin-bottom:40px;
  background-image: url('../images/photo-frame.png');
  background-repeat:no-repeat;
  overflow:hidden;
  /*Used to space it properly for when we change it in JS later*/
  border: 2px solid white;    
}

.photo-frame a.selected {
  border: 2px solid black;
}

.photo-container {
  text-align:center;
}

#about {
  color:#111; 
  position:absolute; 
  top:410px; 
  left:20px;
  width:260px;
}

#about-chronology {
  list-style:none; 
  padding:0px; 
  margin:0px; 
  float:left;
  padding: 12px 10px 8px 0px;
}

#about h2 {
  padding-top: 15px;
  font-weight: bold;
}

#full-photo-cont { 
  position:absolute;
  top: 175px;
  left:365px;
}                

#photo-meta {
  margin-bottom:10px;
}

#full-photo-title {
  float:right;
  font-weight:bold;
  padding-left:120px;
}

#prev-photo {
  margin-right:8px;
}

#return-home {
  position:absolute;
  top: 35px;
  left:365px;
  font-size: 18px;
}
#return-home a {
  font-family: "le-havre-rounded-1","le-havre-rounded-2", helvetica, arial, sans-serif;
  text-decoration: none;
  font-size: 18px;
}

#return-home a:hover {
  text-decoration:underline;
}

ul#code {
  padding-left: 17px;
  list-style-type: circle;
}

ul#code li {
  padding-top:10px;
}

#blog {
  color: #888;
  position: absolute;
  width: 400px;
  top: 70px;
  left: 705px;
  font-weight: bold;
}

#blog a.title {
  display: block;
  padding-top: 8px;
  padding-bottom: 4px;
  border-bottom: 1px dotted #aaa;
  text-decoration: none;
  line-height: 16px;
  font-weight: normal;
  padding-left: 5px;
}

#blog a.title:hover {
  background-color: #444;
  color: #fff;
}
